.height14 {
    height: 14rem;
}

.height18 {
    height: 18rem;
}

@media only screen and (max-width: 992px) {
    .height18 {
        height: fit-content;
    }
}

.justify-content-center {
    justify-content: center;
}

.height14-color {
    background-color: #B5E5D8;
}